{% extends "base.html" %}

{% block content %}
{% if message %}
  <div class="alert-message error">
    <p><strong>Please note:</strong> {{message}}</p>
  </div>
{% endif %}

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>ACCURAT Showcase</h1>
    <p>This is a showcase that demonstrates MT systems enriched with data from comparable corpora.</p>
    <p>The services are going to be available after September 10, 2012.</p>

    <p><a href="{% url accurat.views.translate %}" class="btn btn-primary btn-large">Access translation dashboard &raquo;</a></p>
  </div>

  <div class="container">
    <div class="span11">
      <h2>About ACCURAT</h2>
      <p><img src="http://www.dfki.de/~cfedermann/accurat_logo_o_small_jpg.jpg" style="float:right;" /> The aim of the <a href="http://www.accurat-project.eu/">ACCURAT</a> project is to research methods and techniques to overcome one of the central problems of machine translation (MT) – the lack of linguistic resources for under-resourced areas of machine translation. The main goal is to find, analyze and evaluate novel methods that exploit comparable corpora on order to compensate for the shortage of linguistic resources, and ultimately to significantly improve MT quality for under-resourced languages and narrow domains.</p>
    </div>
  </div>

{% endblock %}

{% block footer %}
<a href="http://www.accurat-project.eu/">ACCURAT</a> is a collaborative project funded within FP7-ICT-2009-4 call and action ICT-2009.2.2: Language-based interaction under grant agreement No. 248347. <img src="http://www.dfki.de/~cfedermann/eu-logo.png" /> <img src="http://www.dfki.de/~cfedermann/fp7-logo.png" />
{% endblock %}
