{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>ACCURAT Translation Services <small>Choose a language pair and enter some text...</small></h1>
  </div>
  <form class="form-horizontal" method="post" action="{% url accurat.views.translate %}">
  {% csrf_token %}

  <fieldset class="form-horizontal">
    {% for field in form %}
    <div class="control-group">
      <label class="control-label" for="{{field.auto_id}}">{{field.label}}</label>
      <div class="controls">{{field}}{% if field.help_text %}<p class="help-block">{{field.help_text}}</p>{% endif %}</div>
    </div>
    {% endfor %}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Translate</button>
      <button type="button" class="btn btn-secondary" onclick="javascript:clear_form();">Clear</button>
    </div>

  </fieldset>
  
  </form>

  {% if result %}
  <fieldset>
    <legend>Translation Result</legend>
    {{ result }}
  </fieldset>
  {% endif %}

{% endblock %}

{% block javascript %}
  <script language="JavaScript">
  <!--
$(document).ready(function() {
  var JSON_DUMMY = '{"foo": {"jane": ["a"], "john": ["a", "b"]}, "bar": {"slayer": ["a", "c"]}}';
  var DATA_DUMMY = $.parseJSON(JSON_DUMMY);

//  for (var propertyName in DATA_DUMMY) {
//    alert(propertyName);
//  }

  var source_language = $('#id_source_language');
  source_language.change(function() {
    update_target_languages();
  });

  var target_language = $('#id_target_language');
  target_language.change(function() {
    update_system_type();
  });


  source_language.append('<option value="">---</option>');
  source_language.append('<option value="foo">foo</option>');
  source_language.append('<option value="bar">bar</option>');
});

function update_target_languages() {
  var source_language = $('#id_source_language');
  var target_language = $('#id_target_language');
  target_language.empty();
 
  target_language.append('<option value="">---</option>'); target_language.append('<option>'+source_language.val().toUpperCase()+'</option>');
}

function update_system_type() {
  var target_language = $('#id_target_language');
  var system_type = $('#id_system_type');
  system_type.empty();
  alert('update_system_type()');
}

function clear_form()
{
  $('form textarea').val('');
}
  //-->
  </script>
{% endblock %}