{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>ACCURAT Showcase<small>Choose a language pair and enter some text...</small></h1>
  </div>
  <form class="form-horizontal" method="post" action="{% url accurat.views.translate %}">
  {% csrf_token %}

  <fieldset class="form-horizontal">
    {% for field in form %}
    <div class="control-group">
      <label class="control-label" for="{{field.auto_id}}">{{field.label}}</label>
      <div class="controls">{{field}}{% if field.help_text %}<p class="help-block">{{field.help_text}}</p>{% endif %}</div>
    </div>
    {% endfor %}

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">Translate</button>
      <button type="button" class="btn btn-secondary" onclick="javascript:clear_form();">Clear</button>
    </div>

  </fieldset>
  
  </form>

  {% if result %}
  <fieldset>
    <legend>Translation Result</legend>
    {{ result|linebreaksbr }}
  </fieldset>
  {% endif %}

{% endblock %}

{% block javascript %}
  <script language="JavaScript">
  <!--
var SELECTED = "{{selected|safe}}".split(",");
var JSON_DATA = '{{json_data|safe}}';
var PARSED_DATA = $.parseJSON(JSON_DATA);

$(document).ready(function() {
  var source_language = $('#id_source_language');
  source_language.change(function() {
    update_target_languages();
  });

  var target_language = $('#id_target_language');
  target_language.change(function() {
    update_system_type();
  });

  var system_type = $('#id_system_type');
  system_type.change(function() {
    set_focus();
  })

  update_source_languages(SELECTED[0]);
});

function set_focus() {
  var source_language = $('#id_source_language');
  if (source_language.val() == '') {
    source_language.focus();
    return;
  }

  var target_language = $('#id_target_language');
  if (target_language.val() == '') {
    target_language.focus();
    return;
  }

  var system_type = $('#id_system_type');
  if (system_type.val() == '') {
    system_type.focus();
    return;
  }

  $('#id_source_text').focus();
}

function create_option(value, selected) {
  var option = '<option value="'+value+'"';
  if (value == selected) {
    option += ' selected="selected"';
  }
  option += '>'+value+'</option>';
  return option;
}

function update_source_languages(selected) {
  var source_language = $('#id_source_language');
  source_language.empty();

  source_language.append('<option value="">---</option>');
  for (var source in PARSED_DATA) {
    source_language.append(create_option(source, selected));
  }

  update_target_languages(SELECTED[1]);
  set_focus();
}

function update_target_languages(selected) {
  var source_language = $('#id_source_language');
  var target_language = $('#id_target_language');
  target_language.empty();

  var _source = source_language.val();

  if ((_source != '---') && (_source != '')) {
    target_language.append('<option value="">---</option>');
    for (var target in PARSED_DATA[_source]) {
      target_language.append(create_option(target, selected));
    }
  }

  update_system_type(SELECTED[2]);
  set_focus();
}

function update_system_type(selected) {
  var source_language = $('#id_source_language');
  var target_language = $('#id_target_language');
  var system_type = $('#id_system_type');
  system_type.empty();

  var _source = source_language.val();
  var _target = target_language.val();

  if ((_source != '---') && (_target != '---') && (_source != '') && (_target != '')) {
    system_type.append('<option value="">---</option>');
    for (var _type in PARSED_DATA[source_language.val()][target_language.val()]) {
      system_type.append(create_option(PARSED_DATA[source_language.val()][target_language.val()][_type], selected));
    }
  }

  set_focus();
}

function clear_form()
{
  $('form textarea').val('');
}
  //-->
  </script>
{% endblock %}